<!DOCTYPE html>
<html>
    <head>
        <title>404 error</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel='stylesheet' href={{href}}>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>