<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel="stylesheet" href={{href}} >
        </head>
    <body>
        <div class="main-content">
         {{>header}}
        <h1>Name: {{name}}</h1>
        <h1>Age : {{age}}</h1>
        <img class="potrait" src={{image}}>
        </div>
        {{>footer}}
    </body>
</html>