<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/Images/weather.png">
        <link rel='stylesheet' href={{href}}>
    </head>
    <body>
       <div class="main-content">
        {{>header}}
        <h1>{{helpText}}</h1>
       </div>
        {{>footer}}
    </body>
</html>